<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>TIFFANY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="javascripts/controller.js"></script>
    <style>
        .button {
            background-color: red;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50"
      style="background: #dbdbdb;font-family: Segoe UI ,Arial,sans-serif;">
<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-brand" id="logo">TIFFANY</div>
    </div>
</nav>
<!-- Payment -->
<div style="margin: 5px 5px 10px 5px">
    <h3 class="text-left" style="color: black; margin: 0 5px 10px 5px;">PURCHASE TICKETS</h3>
    <hr><br>
    <div class="row">
        <div class="col-sm-7" style="margin: 0 5px 10px 5px;">
            <div class="row" style="background:white; ">
                <div style="margin: 10px; ">
                    <p class="text-left" style="color: #000;">Do you have a ticket what you want?</p>
                    <div id="buyerId" style="font-size: 200%"><%=user_id%></div>
                    <hr>
                    <%=user_token%> FNY 입니다.
                    <br>
                    <p style="margin-right: 20px;" class="text-right">FNY 토큰으로 안전하게 결제됩니다.</p>
                    <button class="button" id="pay_btn" style="margin-right:10px; border-radius: 5px"> pay <%=ticket_final_price%>FNY </button>
                </div>
            </div>
            <div class="row">
                <div style="margin: 10px;">
                    <div class="text-center">
                        <img src="images/nuevo.JPG" width="100px" height="100px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4" style=" margin: 0 5px 10px 5px;">
            <div class="row" style="background:white; ">

                <div style="margin: 10px; ">
                    <h3 style="margin-left: 20px; color: #000;"><%= event_name %></h3>
                    <div style="margin-left: 20px;">
                        <p><%=event_DY%> <%=event_DD%>-<%=event_MM%>-<%=event_YY%> <%=event_Hr%>:<%=event_Min%>0</p>
                        <p>SEAT NUMBER <%=ticket_seat_num%></p>
                        TICKET NUMBER #<div id="ticketNum"><%=ticket_num%></div>
                    </div>
                    <hr>
                    <h3 style="margin-left: 20px; color: #000;">Summary</h3>
                    <div style="margin-left: 20px;">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <p>ticket</p>
                                </td>
                                <td>
                                    <p><%=ticket_cur_price%></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>fee</p>
                                </td>
                                <td>
                                    <p><%=ticket_fee%></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Final Price</h3>
                                </td>
                                <td>
                                    <h3 id="ticketPrice"><%=ticket_final_price%></h3>FNY
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>Copyright 2019. Team TIFFANY. All rights reserved.</p>
</footer>
</body>

</html>