<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>TIFFANY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="javascripts/controller.js"></script>
    <style>
        .button {
            background-color: red;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50"
      style="background: #dbdbdb;font-family: Segoe UI ,Arial,sans-serif;">

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">TIFFANY</a>
            </div>
            <div class="navbar-header" style="height: 50px; display: inline-block">
                <form action="/searchEventInfo" method="get" style="padding-top: 5px;">
                    <table>
                        <tr>
                            <td style=" margin-top: 5px; margin-bottom: 5px;">
                                <span style=" margin-bottom: 5px;">
                                    <input name="searchEvent" type="text" id="searchEvent"
                                           style="text-indent: 5px; font-size: 15px; width: 500px; height: 40px; "
                                           placeholder="이벤트 키워드를 입력하세요.">
                                </span>
                            </td>
                            <td style=" margin-bottom: 5px;">
                                <span style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px;">
                                    <button class="glyphicon glyphicon-search" id="srchGlass"
                                            style="font-size: 2em; width:50px; height:40px;"></button>
                                </span>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <%
                    if (loginState) {
                        // 이벤트 주최자일 때
                    if (loggedInUserGroupNum === 2) {
                    %>
                        <li><a href="/eventRegist" id="eventRegistBtn">REGISTER</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                               style="color: black !important;"><%= loggedInId %>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="loginDropdown">
                                <br>
                                <li><%= loggedInUserGroup %></li>
                                <li style="font-style: italic;font-weight: bold; color: orangered"><%= tokenQty %> FNY</li>
                                <hr>
                                <li><a href="/myInfoUpdate" role="button" id="myInfoUpdateBtn">내 정보 수정</a></li>
                                <li><a href="#" role="button" id="logoutBtn">LOGOUT</a></li>
                                <br>
                            </ul>
                        </li>
                    <%
                        // 이벤트 참가자일 때
                    } else if (loggedInUserGroupNum === 3) {
                    %>
                            <li><a href="/sell" id="sellBtn">SELL</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                               style="color: black !important;"><%= loggedInId %>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="loginDropdown">
                                <br>
                                <li><%= loggedInUserGroup %></li>
                                <li style="font-style: italic;font-weight: bold; color: orangered"><%= tokenQty %> FNY</li>
                                <hr>
                                <li><a href="/myInfoUpdate" role="button" id="myInfoUpdateBtn">내 정보 수정</a></li>
                                <li><a href="#" role="button" id="logoutBtn">LOGOUT</a></li>
                                <br>
                            </ul>
                        </li>
                    <%
                        // 관리자일 때
                    } else {
                    %>
                        <li><a href="#">ADMIN</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                               style="color: black !important;"><%= loggedInId %>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="loginDropdown">
                                <br>
                                <li><%= loggedInUserGroup %></li>
                                <hr>
                                <li><a href="/myInfoUpdate" role="button" id="myInfoUpdateBtn">내 정보 수정</a></li>
                                <li><a href="#" role="button" id="logoutBtn">LOGOUT</a></li>
                                <br>
                            </ul>
                        </li>
                    <%
                    }
                    } else {
                    %>
                        <li><a href="#" class="glyphicon glyphicon-log-in" role="button" data-toggle="modal"
                               data-target="#loginModal"> LOGIN</a></li>
                    <%
                    }
                    %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> LOGIN</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="loginId">
                            <span class="glyphicon glyphicon-user"></span> ID
                        </label>
                        <input type="text" class="form-control" id="loginId" placeholder="Enter your ID">
                    </div>
                    <div class="form-group">
                        <label for="loginPw"><span class="glyphicon glyphicon-user"></span> Password</label>
                        <input type="password" class="form-control" id="loginPw" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-block" id="loginBtn">Login
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <p>처음이신가요? <a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Up Modal-->
    <div class="modal fade" id="signupModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> SIGN UP</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="signupId">
                            <span class="glyphicon glyphicon-user"></span> ID
                        </label>
                        <div>
                            <input type="text" class="form-control" id="signupId" onkeyup="idCheck()"
                                   placeholder="Enter your ID">
                            <p></p>
                            <button class="btn" style="float: right;" id="idCheck">중복체크</button>
                            <p id="idCheckMsg"></p>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="signupPw">
                            <span class="glyphicon glyphicon-user"></span> Password
                        </label>
                        <input type="password" class="form-control" id="signupPw" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="signupPwRepeat"
                               placeholder="Enter your password repeat">
                    </div>
                    <div class="form-group">
                        <label for="userGroup">
                            <span class="glyphicon glyphicon-user"></span> 사용자그룹
                        </label><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="userGroup" value="1">&nbsp;&nbsp;관리자<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="userGroup" value="2">&nbsp;&nbsp;이벤트 주최자<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="userGroup" value="3">&nbsp;&nbsp;이벤트 참가자<br>
                    </div>
                    <button type="submit" class="btn btn-block" id="signupBtn" data-dismiss="modal">Sign Up
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Tickets list -->
    <div style="background-color: #fff; margin: 5px 5px 10px 5px; margin-top:120px;">
        <h3 class="text-center" style="color: black; margin: 0 5px 10px 5px;">MY TICKETS</h3>
        <hr>
        <br>
        <div class="row">
            <div class="col-sm-12" style="margin: 0 5px 10px 5px;">
                <div class="row" style="background:white; ">
                    <div style="margin: 10px; ">
                        <span>티켓번호</span>
                        <span>이벤트이름</span>
                        <span>원가</span>
                        <span>현재판매가</span>
                        <span>최종구매자</span>
                        <span>좌석번호</span>
                        <span>티켓유효여부</span>
                        <hr>
                        <%
                            for(let i = 0; i < 5; i++) {
                        %>
                        <span><%=ticket_num[i]%></span>
                        <span><%=event_nm[i]%></span>
                        <span><%=ticket_org_price[i]%></span>
                        <span><%=ticket_cur_price[i]%></span>
                        <span><%=user_id[i]%></span>
                        <span><%=ticket_seat_num[i]%></span>
                        <span><%=ticket_valid_yn[i]%></span>
                        <hr>
                        <%
                            }
                        %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>Copyright 2019. Team TIFFANY. All rights reserved.</p>
    </footer>
</body>
</html>